---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Landing from '~/components/widgets/Landing.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---
<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Landing
    image={{ src: import('~/assets/images/logo_ud.png'), alt: 'Universidad distrital Logo' }}
  >
    <Fragment slot="title">
      La ingeniería económica: <span class="hidden lg:inline">La herramienta más poderosa   <br class="2xl:hidden"/> para tomar</span>
      <span class="text-accent dark:text-white highlight"> decisiones financieras acertadas.</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold"></span></span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">La ingeniería económica </span> 
      Descubre cómo la ingeniería económica puede ayudarte a evaluar la rentabilidad y la viabilidad de tus proyectos e inversiones, para tomar decisiones financieras informadas y exitosas.
    </Fragment>
  </Landing>
</Layout>
