---
import BasicView from '~/components/BasicView.astro';

import { headerData } from '~/data';

const meta = {
  title: 'Saas Landing Page',
};
---

<BasicView>
    <h1>Basic View</h1>
</BasicView>


